*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-icon{
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-bottom: 16px;
}

.menu-icon-home{
    background-image: url("../live-coding/marks/go-home.svg");
}
