*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Golos Text", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.post{
    margin-left: 35%;
    max-width: 480px;
}

.expand-post{
    color: #808080;
}

.time-of-post{
    color: #22222280;
    margin-top: 10px;
}

.likes-of-post{
    background-color: #2222220D;
    max-width: 70px;
    height: 30px;
    border-radius: 8px;
}

.like {
    width: 16px;
    height: 18px;
}

.name-in-post{
    font-weight: 500;
}
