*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Golos Text", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

h1{
    font-weight: 700;
    font-size: 140px;
    margin-left: 180px;
    margin-top: 140px;
    z-index: 2;
    position: relative;
}

.main-first-photo{
    margin-left: 270px;
    margin-top: -90px;
    position: absolute;
    z-index: 1;
}

.registration-block{
    margin-top: 50px;
    margin-left: 810px;
}

.login-input{
    border: 1px solid #F2F3F5;
    border-radius: 10px;
    background-color: #F2F3F5;
    height: 44px;
    width: 343px;
}

.login-input:focus{
    border: 1px solid #3F8AE0;
}

.hint{
    color: #808080;
    margin-bottom: 15px;
}

.eye-off {
    margin-left: -45px;
    margin-bottom: -7px;
}

.login-button-continue { 
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    width: 343px;
    height: 50px;
    color: white;
}

.label{
    display: block;
}